name: Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main and dev" branch
  push:
    branches: 
      - main
      - dev
  pull_request:
    branches: 
      - main
      - dev

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up tox env
      run: |
        python -m pip install --upgrade pip
        pip install tox 
        pver=${{ matrix.python-version }}
        tox_env="-epy${pver/./}"
        echo tox_env
        echo TOX_ENV=$tox_env >> $GITHUB_ENV
    - name: Test using tox envs
      run: |
        tox ${{ env.TOX_ENV }}
